<% layout('layouts/boilerplate') %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/results.css">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->



    </head>

    <body>

        <%- include('partials/navbar')%>
            <%- messages('messages', locals) %>

                <div class="container">
                    <form action="/subject-expert" method="POST">
                        <ul class="list-group">
                            <% for( let i=0; i < subjects.length; i++ ) { %>
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="checkbox" value="<%=subjects[i]%>"
                                        aria-label="..." name=subjects>
                                    <%=subjects[i]%>
                                </li>
                                <% } %>
                        </ul>
                        <input type="submit" value="submit">
                    </form>
                </div>