body {
  background-color: #e6e9ec;
}
.container1 {
  margin-top: 50px;
  align-content: center;
  position: relative;
}

.formbox {
  margin-top: 30px;
  border: 1px solid #cfd5da;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;

  height: 280px;
  width: 550px;
}

.para {
  font-size: 17px;
  padding: 20px;
  margin-top: 10px;
  color: #4e657e;
}

.form {
  margin-top: -20px;
  text-align: center;
}

.form-control-edu {
  margin-top: -12px;
  display: block;
  border: 1px solid #ccc;
  border-top-style: solid;
  border-radius: 3px;
  width: 445px;
  height: 45px;
  text-indent: 10px;
}

.wide_button {
  border-radius: 3px;
  padding: 10px 15px;
  line-height: 1.4;
  font-size: 16px;
  width: 90%;
  color: white;
  background-color: blue;
  outline: none;
  border: none;
}

::placeholder {
  color: #a9a9a9;
  padding-left: 10px;
}

#section1 {
  position: relative;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .container2 {
  position: relative;
  width: 700px;
  height: 450px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
