body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

  a:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  }
  
  
 
.stat-head {
  color: #58595b;
  padding-top: 45px;
  text-align: center;
}
.feature-head {
  color: #58595b;
  padding-top: 45px;
  padding-bottom: 50px;
  text-align: center;
}

.stat_text {
  margin-left: 5px;
  font-size: 20px;
  color: #4e657e;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

#text2 {
  color: black;
}



.navbar-nav li a {
  color: #fff !important;
}
.jumbotron {
  background: url("/profilePic/carousel welcome bg paper.png");
  color: #fff;
  font-family: Montserrat, sans-serif;
  height: 600px;
  padding-top: 150px;
}

.jumbo {
  background: url("/profilePic/carousel_learn.png");
  height: 600px;
  padding-top: 130px;
}

.jum {
  background: url("/profilePic/carousel_unlearn.png");
  height: 600px;
  padding-top: 130px;
}

.bo {
  background: url("/profilePic/carousel_unleash.png");
  height: 600px;
  padding-top: 130px;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #58595b;
  font-size: 50px;
}
.logo {
  color: #58595b;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
  
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #58595b;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}
.panel-footer .btn:hover {
  border: 1px solid #58595b;
  background-color: #fff !important;
  color: #58595b;
}
.panel-heading {
  color: #fff !important;
  background-color: #58595b !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #58595b;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #58595b;
  z-index: 9999;
  border: 0;
  font-size: 13px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #58595b !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #58595b;
}
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

#demo {
  font-size: 50px;
}

#learn {
  font-size: 50px;
}

.carousel-inner {
  height: 400px;
}

.carousel slide {
  margin: 0 auto;
  width: 100%;
}

#doc {
  margin-left: 30px;
  font-size: 50px;
}

.bi-file-earmark-pdf-fill {
  margin-left: 20px;
  color: #b7202e;
}

#stud {
  margin-left: 30px;
  font-size: 50px;
}

.stud_pos {
  margin-left: 20px;
}

#grow {
  margin-left: 30px;
  font-size: 50px;
}

.grandparent {
  width: 100%;
  height: 500px;
  background-color: #f5f6f6;
  margin-top: 50px;
}

.parents {
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  .grandparent {
    height: auto;
  }
  .stat-head {
    font-size: 25px;
  }
  
  .feature-head{
    font-size: 25px;
  }
  .stat_text {
    font-size: 17px;
    margin-left: 15px;
  }
  #grow {
    margin-left: 50px;
    font-size: 35px;
  }
  #stud {
    margin-left: 50px;
    font-size: 35px;
  }
  #doc {
    margin-left: 50px;
    font-size: 35px;
  }
  .super {
    height: auto;
  }
  #demo{
     margin-top:-50px;
  }
}

.child {
  height: 275px;
  flex: 0 1 200px;
  margin-left: 30px;
}
.subtext {
  font-size: 18px;
  color: #4e657e;
  text-align: center;
  padding-bottom: 40px;
}

.par {
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chi {
  width: 100%;
  height: 325px;
  flex: 0 1 200px;
  margin-left: 30px;
}


.net {
  margin-left: 30px;
}

.filter {
  margin-left: 50px;
}


.down {
  margin-left: 40px;
}

.dt {
  margin-left: 10px;
}

.ft {
  margin-left: 10px;
}

.nt {
  margin-left: 10px;
}

.btn-success{
  margin-left: 685px;
  padding: 15px;
  width:150px;
}

.get_start{
  font-size: 20px;
}



/*.avg {
  height: 275px;
  flex: 0 1 350px;
}

.super {
  width: 100%;
  height: 500px;
  background-color: #f5f6f6;
  margin-top: 50px;
}

.good {
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.down {
  margin-left: 120px;
}

.net {
  margin-left: 120px;
}

.filter {
  margin-left: 120px;
}

.nt {
  margin-left: 85px;
}
.ft {
  margin-left: 85px;
}
.dt {
  margin-left: 65px;
}/*

