html {
  font-size: 100%;
  overflow-x: hidden;
}


#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  margin-top: 25%;
  visibility: visible;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modalContent {
  width: 25rem;
  height: 23rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  background-color: #ffeded;
  color: #000;
  border-radius: 20px;
  padding: 2rem 3rem 9rem;
  position: fixed;
  overflow: auto;
}

.modalContent .accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  float: right;
  cursor: pointer;
}

.follower-list {
  list-style-type: none;
}

.follower-list li img {
  border-radius: 30%;
  width: 2rem;
  object-fit: cover;
  object-position: center right;
}

.uploadBox,
.pointBox,
.upvoteBox {
  border: 1px solid #e6e9ec;
  border-radius: 3px;
  margin-left: 1.1rem;
  margin-bottom: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
}


.next-step {
  margin-top: 1px;
  width: 90px;
  margin-left: -50px;
}

#form_pic {
}

.bi-star-fill {
  margin-bottom: 4px;
  color: goldenrod;
}

.mgn {
  margin-top: -15px;
}

.clr {
  padding-bottom: 10px;
}

.num {
  font-size: 14px;
}

.color {
  color: #4e657e;
  font-size: 20px;
}

.light {
  color: #9ea9b5;
}

.numBox {
  display: flex;
  justify-content: space-around;
}

.jumbotron {
  padding-top: 35px;
  padding-bottom: 15px;
}

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
  color: #4e657e;
}

.followBtn {
  margin-top: -25px;
  margin-left: 10px;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.1;
  margin-right: 4.5rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}


.univ {
  font-size: 1.1em;
}

/* .box {
  width: 15.5rem;
  padding: 20px;
  height: 7rem;
  float: right;
  margin-top: -150px;
  margin-right: 150px;
} */

.format {
  color: #4e657e;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: 40px;
}

.star {
  margin-top: -2px;
  color: goldenrod;
}

.star1 {
  margin-top: -2px;
  color: blue;
  height: 35px;
  margin-left: 4px;
}

.star2 {
  margin-top: -2px;
  color: rgb(253, 208, 208);
  height: 35px;
  margin-left: 0px;
}

.pointl_size {
  font-size: 16px;
  position: absolute;
  top: 10px;
  color: #4e657e;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.upload {
  margin-top: 130px;
  margin-left: 250px;
}

.uploadbtn {
  margin-top: -2px;
  margin-left: 7px;
}

.uparrow {
  margin-left: 4px;
}

.txt {
  color: #4e657e;
}

.tip {
  color: darkblue;
  background-color: #e6e9ec;
  font-size: 17px;
  font-family: inherit;
  padding: 10px;
}

.htip {
  color: #4e657e;
  font-size: 20px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.bulb {
  margin-top: -2px;
  color: darkgoldenrod;
}
/* 
.file {
  height: 25vh;
} */

.img {
  height: 10rem;
  width: 20%;
  margin-bottom: 20px;
  padding-top: 10px;
  float: left;
  margin-right: 30px;
}

#title_link {
  font-size: 1rem;
  font-weight: bold;
  margin-top: -5px;
}

.material_type {
  color: gray;
  font-size: 0.45rem;
  padding: 3px;
  border: rgb(224, 224, 224) 2px solid;
  border-radius: 14px;
}

.date {
  display: inline-block;
  width: 21rem;
  margin-top: 0px;
}

.date {
  margin-top: 20px;
  font-size: 0.75rem;
}

.content {
  padding-top: 7px;
}

.content h5 {
  font-size: 0.75rem;
}

.content1 {
  margin-top: -45px;
}

.results img {
  height: 10rem;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  float: left;
  margin-right: 30px;
}

/* .file {
  height: 25vh;
} */

.content {
  margin-left: 30px;
}

.content h5 {
  font-size: 1rem;
}

#title_link {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: -5px;
}

.material_type {
  color: gray;
  font-size: 0.75rem;
  padding: 3px;
  border: rgb(224, 224, 224) 2px solid;
  border-radius: 14px;
}

.date {
  margin-top: 37px;
}

@media (max-width: 992px) {
  .container.m {
    width: 90% !important;
  }

  .login:hover {
    border-bottom: 2px solid #0069d9;
    margin-bottom: -3px;
  }
}

@media (max-width: 454px) {
   .profile-user-name {
    font-size: 2rem;
  }
}

@media (max-width: 770px) {
  html {
    font-size: 80%;
  }

  .top {
    text-align: center;
  }

  .content {
    margin-left: 0px;
  }

  .date {
    display: inline-block;
    width: 21rem;
    margin-top: 0px;
  }

  .followBtn {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
}

.img-container {
  position: relative;
  width: 20%;
  margin-left: auto;
  margin-right: 15px;
}

@media(max-width:901px){
  .img-container{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  .image--cover{
    width: 10px;
  }
  .container-top-stat{
    margin-left:5px ;
    margin-right: 5px;
    font-size: 14px;
  }
}

.image--cover {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 60%;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .image--cover {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 0px 0px;
}
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}
[type="file"] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Rubik", sans-serif; */
  
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 30px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
[type="file"] + label:hover {
  background-color: #d3460d;
}
[type="file"] + label.btn-2 {
  background-color: #99c793;
  border-radius: 50px;
  overflow: hidden;
}
[type="file"] + label.btn-2::before {
  color: #fff;
  font-size: 100%;
  height: 100%;
  right: 130%;
  line-height: 3.3;
  position: absolute;
  top: 0px;
}
[type="file"] + label.btn-2:hover {
  background-color: #497f42;
}
[type="file"] + label.btn-2:hover::before {
  right: 75%;
}

.image-submit {
  background-color: #99c793;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Rubik", sans-serif; */
  
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 15px 25px 15px 25px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
.image-submit:hover {
  background-color: #497f42;
  color: white;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-btn {
  background-color: transparent;
  border: none;
}
.avatar-div{
  margin: 8px 5px;
  width: 30%;
}

@media(max-width:901px){
  .avatar-form{
    width: 100%;
  }
  .avatar-div{
    margin: 5px 5px;
    width: 30%;
  }
  
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade-elements {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
/* Import */
/* Variables */
/* Base */
body {  
  font-size: 16px;
}

.results{
  background-color: white;
}

strong {
  font-weight: 600;
}
h1 {
  /* font-family: 'Oswald', sans-serif; */
  
  letter-spacing: 1.5px;
  color: black;
  font-weight: 100;
  font-size: 2.4em;
}
#content {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid black;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: white;
  color: black;
  /* font-family: 'Source Sans Pro', sans-serif; */
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 50%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  /* font-family: 'Oswald', sans-serif; */
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding: 25px;
  margin-bottom: 50px;
  position: relative;
  background-color:#E7E8E9;
  border-radius: 10px;
}
/* .timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
} */
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #A50C22;
  left: -57.85px;
  background:white;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

@media(max-width:900px){
  .timeline{
    max-width: 100%;
  }
}
