html {
  font-size: 100%;
}




.result-img1-div {
  height: 10rem;
  margin-bottom: 20px;
  padding-top: 10px;
  float: left;
  width: 20%;
  margin-right: 30px;
}

@media(max-width:901px){
  .result-img1-div {
    width: 40%;
    margin-right: 15px;
  }
}

.result-img1{
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border: 2px solid #007bff;
}


/* .file {
  height: 25vh;
} */

.content {
  margin-left: 30px;
}

.content h5 {
  font-size: 1rem;
}

#title_link {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 10px;
}

.material_type {
  color: black;
  font-size: 0.75rem;
  padding: 5px;
  border: #005baa 2px solid;
  border-radius: 14px;
  position: absolute;
  top: 5px;
}

.date {
  margin-top: 37px;
}

@media (max-width: 992px) {
  .container.m {
    width: 90% !important;
  }

  
}



@media (max-width: 790px) {
  html {
    font-size: 80%;
  }

  .content {
    margin-left: 0px;
  }

  .date {
    display: inline-block;
    width: 21rem;
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .login:hover {
    border-bottom: 2px solid #0069d9;
    margin-bottom: -3px;
  }
}

.filter-form {
  background-color: #e7e8e9;
  padding: 15px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.submit-filter-btn {
  border-color: black;
  font-weight: bold;
  width: 100%;
}

.submit-filter-btn:hover {
  border-color: black;
  fill: #b7202e;
  cursor: grab;
}

