/* The Modal (background) */
.modalContent {
  width: 25rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
  background-color: #ffeded;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 9rem 3rem;
}

.modalContent .accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}

.modalContent img {
  width: 82px;
  margin-bottom: 15px;
}

.searchbar {
  width: 25em !important;
}

.searchbar::placeholder {
  font-weight: 400;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.w3-row {
  background-color: #1597bb;
}

.downloadBtn {
  background-color: #43d661;
  color: black;
}

.active_dots,
.dot:hover {
  background-color: #717171;
}

.mySlides img {
  width: auto;
  max-height: 475px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  object-fit: cover;
}

.text-danger {
  margin-left: 50px;
  margin-top: 20px;
}

.text-success {
  margin-top: 20px;
}

.text-danger:hover {
  fill: red;
}

.text-success:hover {
  fill: green;
}

.form__answer {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 2px;
  text-align: center;
}

label {
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}

/* Input style */

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="radio"]:active ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 770px) {
  .searchbar {
    width: 15em !important;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

#call {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  border: none;
  outline: none;
}
