.container1 {
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid #ccc;
  max-width: 30rem;
  height: 250px;
  overflow-y: auto;
}

.group-item {
  font-size: 18px;
  color: #4e657e;
  border-bottom: 1px solid #e6e9ec;
  margin-top: 20px;
  list-style-type: none;
}

h2 {
  margin-top: 100px;
  text-align: center;
}
