* {
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
}

h2 {
   color: #0069d9;
}

#form {
   text-align: center;
   position: relative;
   margin-top: 20px;
}

#form fieldset {
   background: white;
   border: 0 none;
   border-radius: 0.5rem;
   box-sizing: border-box;
   width: 100%;
   margin: 0;
   padding-bottom: 20px;
   position: relative;
}

.finish {
   text-align: center;
}

#form fieldset:not(:first-of-type) {
   display: none;
}

#form .previous-step,
.next-step {
   margin: 10px 25px 10px 0px;
   float: right;
}

#form .next-step {
   margin-right: 11.7%;
}

.text {
   color: #0069d9;
   font-weight: normal;
}

#progressbar {
   margin-bottom: 30px;
   overflow: hidden;
   color: lightgrey;
}

#progressbar .active {
   color: #58595B;
}

#progressbar li {
   list-style-type: none;
   font-size: 15px;
   width: 25%;
   float: left;
   position: relative;
   font-weight: 400;
   transition: color 2s;
}

#progressbar #step1:before {
   content: '1';
}

#progressbar #step2:before {
   content: '2';
}

#progressbar #step3:before {
   content: '3';
}

#progressbar #step4:before {
   content: '4';
}

#progressbar li:before {
   width: 50px;
   height: 50px;
   line-height: 45px;
   display: block;
   font-size: 20px;
   color: #ffffff;
   background: lightgray;
   border-radius: 50%;
   margin: 0 auto 10px auto;
   padding: 2px;
}

#progressbar li:after {
   content: '';
   width: 100%;
   height: 2px;
   background: lightgray;
   position: absolute;
   left: 0;
   top: 25px;
   z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
   background: #58595b;
   transition: background 2s;
}

label {
   width: 130px;
   text-align: left;
}

.form-control {
   background-color: #f5f9fc;
}

textarea {
   width: 95%;
   height: 10em;
}

.text-pink {
   color: rgb(191, 83, 83);
}

.upload-img {
   height: 10rem;
}

.earned {
   display: flex;
   justify-content: space-around;
   margin: 2rem;
}

.earned-card {
   text-align: left;
   width: 35%;
   border: 1px rgb(211, 211, 211) solid;
   border-radius: 13px;
   padding: 10px;
}

@media (max-width: 454px) {
   label {
      margin-left: 15px;
   }
}

@media (max-width: 790px) {
   html {
      font-size: 80%;
   }

   .step {
      font-size: 120%;
   }
}
